/* Features Section 3*/

.features {
    padding: 120px 0px;
}

.features .container{
    padding: 0px 15px;
    max-width: 1158px;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--color-navy);
    
}

.features-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.features-item {
    max-width: 264px;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-navy);
}

.features-text {
    font-weight: 400;
}