

.header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border-bottom: 1px solid #e7e9fc;
    width: avto;
}

.header .conteiner {
    display: flex;
    /* padding: 0px 141px; */
    margin: auto;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    gap: 0px;
    padding: 0px 15px;
    width: 1158px;
    max-width: 1158px;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-navy);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}

.logo-accent {
    color: var(--color-iris);
}

.header-nav {
}

.nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    color: var(--color-navy);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-ocean);
}

.nav-link-features {
    font-weight: 500;
    color: var(--color-navy);
}

.nav-link-features:hover,
.nav-link-features:focus {
    color: var(--color-ocean);
}

/* .nav-link-features:active {
    text-decoration: underline;
} */

.header-address {
    justify-content: flex-end;
}

.contact-list {
    display: flex;
    /* align-items: center;
    justify-content: flex-start; */
    flex-direction: row;
    gap: 40px;
}

.contact-link {
    font-weight: 400;
    color: var(--color-slate);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--color-ocean);
}