/* Portfolio Section */

/* .portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-navy);
    margin-bottom: 72px;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;
}

.portfolio-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy);
    margin-bottom: 8px;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
} */


.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--color-navy);
}

.portfolio-list {}

.portfolio-item {}

.portfolio-info {}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-navy);
}

.portfolio-category {
    font-weight: 400;
        color: var(--color-slate);
}